<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:sap="http://www.mulesoft.org/schema/mule/sap" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:os="http://www.mulesoft.org/schema/mule/os" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/os http://www.mulesoft.org/schema/mule/os/current/mule-os.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/sap http://www.mulesoft.org/schema/mule/sap/current/mule-sap.xsd">

	<os:object-store name="watermarkStore" doc:name="Object store" persistent="false" />

	<configuration-properties doc:name="Configuration properties" doc:id="7584fb1d-2fa2-445a-b949-eed01f5785bd"
		file="common.properties" />
	<configuration-properties doc:name="Configuration properties" doc:id="86e0eb9d-cf2e-451a-9e09-b4afdf13e0e9"
		file="mule.${mule.env}.properties" />
	<configuration-properties doc:name="Configuration properties" doc:id="0abdf143-d5d1-4168-bdbd-7e3722442725"
		file="mule-artifact.properties" />

	<salesforce:sfdc-config name="Salesforce" doc:name="Salesforce"
		doc:id="2927eec6-704d-49ee-840a-94292dc7822e">
		<salesforce:basic-connection username="${sfdc.username}" password="${sfdc.password}"
			securityToken="${sfdc.securityToken}" />
	</salesforce:sfdc-config>

	<sap:outbound-config name="SAP_Outbound" doc:name="SAP Outbound"
		doc:id="189c3c5c-3a22-4771-91ee-d2351bf0f190">
		<sap:simple-connection-provider-connection
			applicationServerHost="${sap.jco.ashost}" username="${sap.jco.user}" password="${sap.jco.passwd}"
			systemNumber="${sap.jco.sysnr}" client="${sap.jco.client}" language="${sap.jco.lang}" />
	</sap:outbound-config>
</mule>

        